<div>
    <div>
        <mat-toolbar color="primary">
            <a routerLink="/products-list" mat-stroked-button class="row-button">Products</a>
            <a routerLink="/cart" mat-stroked-button class="row-button">Cart</a>
            <span class="row-spacer"></span>
            <span>Shop</span>
            <span class="row-spacer"></span>
            <a routerLink="/admin" mat-stroked-button class="row-button">Admin</a>
        </mat-toolbar>

        <div class="container">
            <!-- #routerOutlet="outlet" - access to the properties of router-outlet directive -->
            <router-outlet #routerOutlet="outlet" 
                (activate)='onActivate($event, routerOutlet)'
                (deactivate)='onDeactivate($event, routerOutlet)'>
            </router-outlet>
            <!-- Routed views go here -->
        </div>
    </div>
</div>
